<div class="add-comment-form-section" style="display:block;">
    <form id="add-comment-form" class="post-form mt-3 d-flex flex-column">
        <div class="input-box">
            <input id="comment-text" class="form-control input-group mt-2" type="text">
            <label>Add Comment</label>
        </div>
        {{!-- buttons --}}
        <div class="buttons mt-1 d-flex justify-content-end">
            {{!-- post = PUT route to update post --}}
            {{#if logged_in}}
            <button id='submitComment-btn' class="add-comment-button btn-quarter ps-3 pe-3" type="submit">Add</button>
            {{else}}
            <button class="log-in-button btn-quarter ps-3 pe-3"><a href="/login">Log In</a></button>
            {{/if}}
        </div>
    </form>
</div>