<div>
    <h2>Do you have more furry friends? </h2>
    <button onclick="showNewDogForm()" class="add-dog-btn" type="submit">Add additional dogs</button>

    <form id="dogForm" class="mt-5 dogForm" style="display: none;">

        <div class="d-flex flex-row align-items-center">
            <div class="input-box-half">
                <input id="dog-name" type="text" required>
                <label>Name</label>
            </div>

            <div class="input-box-half">
                <input id="dog-age" type="number" required>
                <label>Age</label>
            </div>
        </div>


        <div class="d-flex flex-row align-items-center">
            <div class="mt-6 input-box-gender">
                <select id="dog-gender" required>
                    <option value="none" selected disabled hidden>Select an option</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
                <label class="gender-label">Gender</label>
            </div>


            <div class="mb-6 input-box-half">
                <input id="dog-breed" type="text" required>
                <label>Breed</label>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center">
            <button id="back-btn" class="mt-4 btn-half-alt" onclick="backDogForm()" type="submit">Back </button>
            <br> <br>
            <button id="submitDog-btn" class="mt-4 btn-half" onclick="hideNewDogForm()" type="submit">Submit</button>
        </div>

    </form>
</div>