<div>
    <h2>Do you have more furry friends? </h2>
    <button onclick="showNewDogForm()" class="add-dog-btn" type="submit">Add additional dogs</button>

    <form id="dogForm" class="mt-5 dogForm" style="display: none;">

        <div class="mb-1">
            <label for="dogPic">Select a file:</label>
            <input type="file" id="dogPic" name="dogPic">
        </div>


        <div class="d-flex flex-row align-items-center">
            <div class="input-box-quarter">
                <input id="dog-name" type="text" required>
                <label>Name</label>
            </div>

            <div class="input-box-quarter">
                <input id="dog-age" type="number" required>
                <label>Age</label>
            </div>
        </div>


        <div class="d-flex flex-row align-items-center">
            <div class="mt-6 input-box-gender-quarter">
                <select id="dog-gender" required>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
                <label class="gender-label">Gender</label>
            </div>


            <div class="mb-6 input-box-quarter">
                <input id="dog-breed" type="text" required>
                <label>Breed</label>
            </div>
        </div>

        <button id="submitDog-btn" class="mt-4 btn-half" onclick="hideNewDogForm()" type="submit">Submit</button>
    </form>
</div>