{{!-- Form for adding events --}}
<div>
    <div id="addEventSection" style="display:block;">
        <h2>Do you want to create an event? </h2>
        <button onclick="showEventForm()" type="submit" class="btn-half">Add an EVENT!</button>
    </div>
    <form id="eventForm" class="mt-5 eventForm" style="display: none;">

        <div class="input-box">
            <input id="event-name" type="text" required>
            <label>Name</label>
            <div class="no-name-msg invalid-msg d-none">
                Add your event's name
            </div>
        </div>

        <div class="input-box">
            <input id="event-location_zip" type="number" required>
            <label>Zip Code</label>
            <div class="no-zipcode-msg invalid-msg d-none">
                Add your event's zip code
            </div>
            <div class="zipcode-length-msg invalid-msg d-none">
                Zip codes must be 5 digits long
            </div>
        </div>

        <div>
            <div>
                <label id="description-label">Description</label>
            </div>
            <textarea id="event-description" type="text" rows="6" required></textarea>
            <div class="no-description-msg invalid-msg d-none">
                Tell us about the event!
            </div>
        </div>

        <div class="input-box">
            <input id="datePickerId" class="event-date" type="date" required>
            <label id="date-label">Date</label>
            <div class="no-date-msg invalid-msg d-none">
                Select a date
            </div>
        </div>

        <div class="input-box">
            <input class="addEvent-time" type="text" required>
            <label id="time-label">Time</label>
            <div class="no-time-msg invalid-msg d-none">
                Select a time
            </div>
        </div>

        <div class="d-flex flex-row align-items-center">
            <button id="back-btn" class="btn-half-alt" onclick="backEventForm()" type="submit">Back </button>
            <br> <br>
            <button id="submitEvent-btn" class="btn-half" type="submit">Submit</button>
        </div>

    </form>

</div>