{{!-- add new dog form --}}
<div>

    <form class="">

        <div>
            <input id="dog-name-signup" type="text" required>
            <label>Name</label>
        </div>

        <div>
            <input id="dog-age-signup" type="number" required>
            <label>Age</label>
        </div>

        <div>
            <input id="dog-breed-signup" type="text" required>
            <label>Breed</label>
        </div>

        <div>
            <input id="dog-gender-signup" type="text" required>
            <label>Gender</label>
        </div>

    </form>

</div>

<script src="/js/profile-dog.js"></script>