{{!-- <form action="/api/upload" enctype="multipart/form-data" method="post">
    Preview Image:
    <img id="preview-img"
        src="https://res.cloudinary.com/dlkk2oyhp/image/upload/v1677779592/playdate-images/default-event_ocl8t7.png"
        alt="Event Pic">
    <div>File: <input type="file" name="profilePic" /></div>
    <input type="submit" value="Upload" />
</form> --}}