{{!-- <form action="/api/upload" enctype="multipart/form-data" method="post">
    Preview Image:
    <img id="preview-img"
        src="https://res.cloudinary.com/dlkk2oyhp/image/upload/v1677737057/playdate-images/xotpwmc99ujpabb072v6.png"
        alt="Owner Profile Pic">
    <div>File: <input type="file" name="profilePic" /></div>
    <input type="submit" value="Upload" />
</form> --}}