<form action="/api/dogs/upload" enctype="multipart/form-data" method="post">
    <h2 class="mt-5 d-flex justify-content-center">After clicking the upload image button, scroll to Submit Change
        below.</h2>
    <div class="d-flex flex-row mt-5 mb-5 justify-content-center align-items-center">
        <div>
            <label class="image-label">Change Image: </label>
            <input type="file" name="dogPic" />
        </div>
        <input class="btn-quarter" type="submit" value="Upload" />
    </div>
</form>