<form action="/api/upload" enctype="multipart/form-data" method="post">
    Preview Image:
    <img id="preview-img"
        src="https://res.cloudinary.com/dlkk2oyhp/image/upload/v1677737085/playdate-images/uhdfp3aq73sjmxxk7ezq.png"
        alt="Dog Profile Pic">
    <div>File: <input type="file" name="dogPic" /></div>
    <input id="#upload-img-btn" type="submit" value="Upload" />
</form>

<script src="/js/upload-image-dog.js"></script>