{{!-- <div id="preview" class="d-flex flex-column justify-content-center align-items-center">
    <img id="preview-img"
        src="https://res.cloudinary.com/dlkk2oyhp/image/upload/v1677779592/playdate-images/default-event_ocl8t7.png"
        alt="Event Pic">
    <button id="upload_widget" class="cloudinary-button mt-4">Upload Your Event's Pic</button>
    <button id="upload-img-btn" class="btn-half mt-4">Finished Updating Photo</button>
</div>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>


<script src="/js/upload-image-event.js"></script> --}}

<form action="/api/events/upload" enctype="multipart/form-data" method="post">
    Preview Image:
    <img id="preview-img"
        src="https://res.cloudinary.com/dlkk2oyhp/image/upload/v1677779592/playdate-images/default-event_ocl8t7.png"
        alt="Event Pic">
    <div>File: <input type="file" name="eventPic" /></div>
    <input type="submit" value="Upload" />
</form>