<div>
    DogCards
    <br></br>
    {{name}}
    {{age}}
    {{breed}}
    {{gender}}
    <br></br>

    <button>Delete Dog</button>

    <button>Update Dog</button>
</div>

{{!-- add edit dog form --}}