{{!-- MY EVENTS TAB --}}

<div>

    {{!-- Functionality to view all events created by user --}}
    <h2 class="my-events-title">My Events</h2>

  {{#if events.length}}
    <div class="event-card-container myEventsPage-list flex-wrap">
        <div class="eCards-section"> 
            <div class="eCards">
                {{>eventcard}}
            </div>
        </div>
    </div>
  {{/if}}

    <a href="./profile"><button class="btn mb-4">Add Event</button></a>

</div>


<script src="/js/myevent-page.js"></script>

