<div>
    <a href="./profile"><button class="btn mb-4">Add Event</button></a>

    {{!-- Functionality to view all events created by user --}}
    {{>eventcard}}
</div>
{{!-- Allows users to add an event or delete an event --}}
<script src="/js/profile-event.js"></script>