<div>
    {{!-- Functionality to view all events created by user --}}
    {{>eventcard}}

    <button href="/profile">Add Event</button>

</div>
{{!-- Allows users to add an event or delete an event --}}
<script src="/js/profile-event.js"></script>