{{!-- MY EVENTS TAB --}}

<div>
  {{!-- Functionality to view all events created by user --}}
  <h2 class="my-events-title">My Events</h2>
  <a href="./profile"><button class="btn-half mt-2 mb-4">Add Event</button></a>
  {{#if events.length}}
  <div class="event-card-container myEventsPage-list flex-wrap">
    <div class="eCards-section">
      <div class="eCards">
        {{>eventcard}}
      </div>
    </div>
  </div>
  {{/if}}


</div>


<script src="/js/myevent-page.js"></script>