{{!-- HOMEPAGE --}}
<div class="d-flex flex-column">
    <div>
        <h2>Recommended Parks</h2>
        <section class="recc-parks">
            {{>recparks}}
        </section>
    </div>


    <div>
        {{#if logged_in}}
        <a href="/#"><button class="btn">New Event</button></a>
        {{/if}}
        <section class="current-events">
            <h2 class="my-events-title">Nearby Events</h2>
            {{!-- {{#if events.length}} --}}
            {{>eventcard}}
            {{!-- {{/if}} --}}
        </section>
    </div>

    {{#unless logged_in}}
    <div>
        <h2 class="text-center">
            Set up your account today!
        </h2>

        <a href="/signup"><button class="btn">Get Started</button></a>
    </div>
    {{/unless}}
</div>

<br><br>

<div class="d-flex flex-column">
    <div>
        <h2>All Local Events</h2>
        <section class="recc-parks">

        </section>
    </div>



{{!-- ALL LOCAL EVENTS OF THE OWNER'S ZIP WILL SHOW UP HERE --}}


<div>
    <h2>Events</h2>
    {{#if logged_in}}
    <a href="/#"><button class="btn">New Event</button></a>
    {{/if}}
    <section class="current-events">
    </section>
</div>