{{!-- HOMEPAGE --}}


<div class="d-flex flex-column">
    {{!-- Commenting this out until we get Andre API portion --}}
    {{!-- <div>
        <h2>Recommended Parks</h2>
        <section class="recc-parks">

        </section>
    </div> --}}


    <div>
        <section class="current-events">
            <h2 class="my-events-title">All Events</h2>
            {{!-- {{#if events.length}} --}}
            <div class="event-card-container eventsHomePage-list flex-wrap">
                <div class="eCards-section"> 
                    <div class="eCards">            
                        {{>eventcard}}
                    </div>
                </div>
            </div>
            {{!-- {{/if}} --}}
        </section>
    </div>

    {{#if logged_in}}
    <a href="/profile"><button class="btn">Add a New Event</button></a>
    {{/if}}

    {{#unless logged_in}}
    <div>
        <h2 class="text-center">
            Set up your account today!
        </h2>

        <a href="/signup"><button class="btn">Get Started</button></a>
    </div>
    {{/unless}}
</div>

<br><br>

<div class="d-flex flex-column">
    {{!-- Commenting this out until we get a filter by zipcode --}}

    {{!-- <div>
        <h2>All Local Events</h2>
        <section class="recc-parks">

        </section>
    </div> --}}



{{!-- ALL LOCAL EVENTS OF THE OWNER'S ZIP WILL SHOW UP HERE --}}


    {{!-- <div>
        <h2>Events</h2>
        {{#if logged_in}}
        <a href="/#"><button class="btn">New Event</button></a>
        {{/if}}
        <section class="current-events">
        </section>
    </div> --}}