{{!-- HOMEPAGE --}}


<div class="d-flex flex-column">
    {{!-- Commenting this out until we get Andre API portion --}}
    <div>
        <h2>Recommended Parks</h2>
        <section class="recc-parks">
            <div class="row">
                {{#each suggestions}}
                <div class="col-sm-4" style="height: 160px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
                            <img class="card-img" src="" alt="">
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>

    {{#unless logged_in}}
    <div class="register-msg mt-5 mb-5">
        <h2 class="text-center">
            Set up your account today!
        </h2>

        <a href="/signup"><button class="btn">Get Started</button></a>
    </div>
    {{/unless}}

    <div>
        <section class="current-events">
            <h2 class="my-events-title">All Events</h2>
            {{#if logged_in}}
            <a href="/profile"><button class="btn-half mt-2 mb-4">Add a New Event</button></a>
            {{/if}}
            {{!-- {{#if events.length}} --}}
            <div class="event-card-container eventsHomePage-list flex-wrap">
                <div class="eCards-section">
                    <div class="eCards">
                        {{>eventcard}}
                    </div>
                </div>
            </div>
            {{!-- {{/if}} --}}
        </section>
    </div>



</div>

<br><br>

<div class="d-flex flex-column">
    {{!-- Commenting this out until we get a filter by zipcode --}}

    {{!-- <div>
        <h2>All Local Events</h2>
        <section class="recc-parks">

        </section>
    </div> --}}



    {{!-- ALL LOCAL EVENTS OF THE OWNER'S ZIP WILL SHOW UP HERE --}}


    {{!-- <div>
        <h2>Events</h2>
        {{#if logged_in}}
        <a href="/#"><button class="btn">New Event</button></a>
        {{/if}}
        <section class="current-events">
        </section>
    </div> --}}