<div class="login-container">
    <div class="login-wrapper">
        <div class="form-box login">
            <h2>Login</h2>

            <form class="login-form" novalidate>

                <div class="input-box">
                    <span class="icon">
                        <img src="/images/profile-inkubators.png" alt="Username Icon">
                    </span>
                    <input type="text" required id="username-login">
                    <label>Username</label>
                    <div class="username-error-msg invalid-msg d-none">
                        Incorrect Username or Password
                    </div>
                </div>

                <div class="input-box">
                    <span class="icon" onclick="showPassword()">
                        <img src=" /images/secured-lock-freepik.png" alt="Lock pad icon">
                    </span>
                    <input class="password" type="password" required id="password-login">
                    <label>Password</label>
                    <div class="password-error-msg invalid-msg d-none">
                        Incorrect Username or Password
                    </div>
                </div>

                <button type="submit" class="btn">Log In</button>
                <div class="login-register">
                    <p>Don't have an account? <a class="signup-link" href="../signup">Register</a></p>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>