<div id="profile-page d-flex flex-column align-items-center">

  <div id="owner-section">

    <div class="d-flex flex-row">
      {{> ownercard}}

      <button id="delete-owner-btn" class="d-flex justify-content-start">
        <img class="delete-owner" data-id="{{id}}" src="/images/delete-Freepik-32px.png"
          alt="Trash Can">
      </button>
    </div>

    <div class="owner-btns">

      <a class="owner-anchor" style="text-decoration: none" href="profile/owner/{{id}}"> <button class="btn">
          Update Profile</button></a>


    </div>

  </div>

  <div id="dog-section">
    {{> dogcard}}

    {{> adddog}}
  </div>

  <div id="events-section">
    {{!-- Functionality to view all events created by user --}}
    {{> eventcard}}

    {{> addevent}}
  </div>

</div>


{{!-- Allows users to add another dog or delete a dog --}}
<script src="/js/profile-dog.js"></script>

{{!-- Allows users to add an event or delete an event --}}
<script src="/js/profile-event.js"></script>