<div id="profile-page d-flex flex-column align-items-center">
  
    <div id="owner-section" style="display: block;">
        <h1>Welcome {{username}}!</h1>
    <div class="d-flex flex-row align-items-center justify-content-center">
      {{> ownercard}}
    </div>

    <div class="owner-btns">
      <a class="owner-anchor" style="text-decoration: none" href="../../../profile/owner/{{id}}"> <button class="btn">
          Update Profile</button></a>
    </div>
    </div>  

  <div id="dog-section" style="display: block;">
    <h2 class="my-dogs-title">My Dogs</h2>

  {{!-- if statement prevents the horizontal scroll showing if no cards --}}
  {{#if dogs.length}}
    {{!-- CHECK IF adding rows 1 prevents overflow! <div id="dCards-section" class="container" rows="1">  --}}
    <div id="dCards-section" class="container"> 
      <div id="dCards">
        {{> dogcard}} 
      </div>
    </div>
  {{/if}}

    {{> adddog}}
  </div>


  <div id="events-section" style="display: block;">
    {{!-- Functionality to view all events created by user --}}
    <h2 class="my-events-title">My Events</h2>

  {{!-- if statement prevents the horizontal scroll showing if no cards --}}
  {{#if events.length}}
  <div>
    <div class="event-card-container event-list flex-wrap">
      <div class="eCards-section"> 
        <div class="eCards">
          {{> eventcard}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

    {{> addevent}}
  </div>

</div>



{{!-- Allows users to add another dog or delete a dog --}}
<script src="/js/profile-dog.js"></script>

{{!-- Allows users to add an event or delete an event --}}
<script src="/js/profile-event.js"></script>

