<div class="d-flex flex-column justify-content-around" style="height: 100vh;">
  <div class="main form">

    <h2 class="text-center">Let's Add Your Dog's Pic</h2>

    {{>uploadDog}}

  </div>


  <div class="d-flex flex-row align-items-center">
    <button id="skip-btn-dog" class="btn-half-alt" type="submit">Skip</button>
    <button id="add-dog-pic-btn" class="btn-half" type="submit">Finish</button>
  </div>

</div>

<script src="/js/signup-2-3.js"></script>