<div>
  <h2 class="text-center">Register</h2>

  <form id="signup-form">
    <h3 class="mb-3">Let's Get to Know You</h3>

    <div class="d-flex flex-row align-items-center">
      <div class="input-box-half">
        <input id="username-signup" type="text" required>
        <label>Username</label>
        <div class="no-username-msg invalid-msg d-none">
          Add a username
        </div>
      </div>

      <div class="input-box-half">
        <span class="icon" onclick="showPassword()">
          <img src=" /images/secured-lock-freepik.png" alt="Lock pad icon">
        </span>
        <input id="password-signup" class="password" type="password" required>
        <label>Password</label>
        <div class="no-password-msg invalid-msg d-none">
          Add a password
        </div>
        <div class="password-length-msg invalid-msg d-none">
          Passwords must be between 8 to 16 characters
        </div>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center">
      <div class="input-box-half">
        <input id="first_name-signup" type="text" required>
        <label>First Name</label>
        <div class="no-firstname-msg invalid-msg d-none">
          Add your first name
        </div>
      </div>

      <div class="input-box-half">
        <input id="last_name-signup" type="text" required>
        <label>Last Name</label>
        <div class="no-lastname-msg invalid-msg d-none">
          Add your last name
        </div>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center">
      <div class="input-box-gender">
        <select name="gender" id="gender-signup" required>
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="other">Other</option>
        </select>
        <label class="gender-label">Gender</label>
      </div>


      <div class="input-box-half">
        <input id="location_zip-signup" type="number" required>
        <label>Zip Code</label>
        <div class="no-zipcode-msg invalid-msg d-none">
          Add your zip code
        </div>
        <div class="zipcode-length-msg invalid-msg d-none">
          Zip codes must be 5 digits long
        </div>
      </div>
    </div>

    <div>
      <div>
        <label id="description-label">Description</label>
      </div>
      <textarea id="description-signup" type="text" rows="6" required></textarea>
      <div class="no-description-msg invalid-msg d-none">
        Tell us about yourself!
      </div>
    </div>


    <h3 class="mb-3">Now Tell Us About Your Furry Friend</h3>

    <div class="input-box">
      <input id="dog-name-signup" type="text" required>
      <label>Name</label>
      <div class="no-dog-name-msg invalid-msg d-none">
        Add your dog's name
      </div>
    </div>

    <div class="d-flex flex-row align-items-center">
      <div class="input-box-half">
        <input id="dog-age-signup" type="number" maxlength="2" required>
        <label id="age-id">Age (in Years)</label>
        <div class="no-dog-age-msg invalid-msg d-none">
          Add your dog's age
        </div>
        <div class="max-dog-age-msg invalid-msg d-none">
          Check dog's age
        </div>
      </div>

      <div class="input-box-half">
        <input id="dog-age-months-signup" type="number" maxlength="2" required>
        <label id="age-months-id">Age (in Months)</label>
        <div class="no-dog-age-months-msg invalid-msg d-none">
          Add your dog's age
        </div>
        <div class="max-dog-age-months-msg invalid-msg d-none">
          Check dog's age
        </div>
      </div>
    </div>
</div>

<div class="d-flex flex-row align-items-center">
  <div class="input-box-gender">
    <select id="dog-gender-signup">
      <option value="female">Female</option>
      <option value="male">Male</option>
    </select>
    <label class="gender-label">Gender</label>
  </div>

  <div class="input-box-half">
    <input id="dog-breed-signup" type="text" required>
    <label>Breed</label>
    <div class="no-dog-breed-msg invalid-msg d-none">
      Add your dog's breed
    </div>
  </div>
</div>

</form>

</div>

<button id="submit-btn" class="btn mb-5" type="submit">Sign Up</button>

<script src="/js/signup.js"></script>