<div id="preview" class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-4">If you'd like to skip, click "Finished" below.</h2>
    <img id="preview-img"
        src="https://res.cloudinary.com/dlkk2oyhp/image/upload/v1677737085/playdate-images/uhdfp3aq73sjmxxk7ezq.png"
        alt="Dog Profile Pic">
    <button id="upload_widget" class="cloudinary-button mt-4">Upload Your Dog's Profile Pic</button>
    <a class="mt-4" href="/profile">Finished</a>
</div>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>


<script src="/js/upload-image-dog.js"></script>