:root {
    --nav-text-color: #4D4751;
    --main-color: #EFEEF1;
    --nav-bar: #FFFFFF;
    --orange: #F79A1F;
    --dark-orange: #EB4F47;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

button:hover {
    cursor: pointer;
}


body {
    padding: 100px;
    margin: 70px;
}

#main-area {
    padding: 100px 100px 100px 0;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px 20px 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header,
header>*,
header a,
.logo-img {
    background-color: var(--nav-bar);
}

.nav-logo {
    font-size: 2em;
    color: var(--nav-text-color);
    /* Disables highlighting/selecting text */
    user-select: none;

    display: flex;
    justify-content: baseline;
    align-items: center;
}

#home-anchor,
#events-anchor,
#profile-anchor {
    position: relative;
    font-size: 1.1em;
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
}

/* Underlines show under nav anchors */
#home-anchor::after,
#events-anchor::after,
#profile-anchor::after {
    content: '';
    position: absolute;
    /*Width sets line to width of respective anchor text length*/
    width: 100%;
    height: 3px;
    background: var(--dark-orange);
    border-radius: 5px;
    /*Left sets line vertically align to the nav anchors*/
    left: 0;
    /*Bottom sets line under the nav anchors*/
    bottom: -6px;
    /*Transform sets lines offscreen*/
    transform: scaleX(0);
    /*Transition smooths the underline showing*/
    transition: transform .5s;
    /*Transform-origin causes underline to disappear from the left to the right*/
    transform-origin: right;
}

/* Underlines show under hovered nav anchors */
#home-anchor:hover::after,
#events-anchor:hover::after,
#profile-anchor:hover::after {
    /*Transform sets lines under nav bar anchors*/
    transform: scaleX(1);
    /*Transform-origin causes underline to appear from the left to the right*/
    transform-origin: left;
}

.navigation .login-btn,
.navigation .logout-btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--dark-orange);
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: var(--nav-text-color);
    font-weight: 600;
    margin-left: 40px;
    transition: .5s;
}

.navigation .login-btn:hover,
.navigation .logout-btn:hover {
    background-color: var(--dark-orange);
    color: var(--nav-bar);
    cursor: pointer;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Color of login form */
.login-wrapper,
.login-wrapper .form-box,
.form-box>*,
.input-box,
.input-box label,
.input-box .icon>*,
.login-register p,
.login-register p a {
    background-color: var(--nav-bar);
}

.login-wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    border-radius: 20px;
    border: 2px solid #68221f50;
    box-shadow: 0 0 30px #68221f50;
    /* Organizes contents */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjusts the form content inside of the wrapper border */
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: var(--nav-text-color);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    /* Provides vertical spacing */
    height: 50px;
    /* Creates a line in the login card for the username and password */
    border-bottom: 2px solid var(--nav-text-color);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    /* Sets labels to be on top of the underline from .input-box */
    top: 50%;
    /* Sets labels to be on aligned to the left of the underline from .input-box */
    left: 5px;
    /* Floats labels */
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--nav-text-color);
    font-weight: 500;
    /* Disables pointer clicking and selecting/highlighting text */
    pointer-events: none;
    /* Smooths transition for label to move */
    transition: .5s;
}

/* focus = when user (focuses) clicks on the input box, valid = when the input box has the valid type */
/* When the user click on the input box, or inputs are written in, the label text moves away. */
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    /* Makes the input span the length of the input-box label underline */
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    /* Prevents overflow from running into icons */
    padding: 0 35px 0 5px;

    font-size: 1em;
    color: var(--nav-text-color);
    font-family: 600;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    /* Makes the icons float closer to the underline */
    line-height: 57px;
    background-color: transparent;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: var(--dark-orange);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    color: var(--nav-text-color);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

/* Styling for the word Register at the bottom of the form */
.login-register p a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

textarea {
    width: 100%;
    border: 2.5px solid var(--nav-text-color);
    border-radius: 5px;
    padding: 4px;
    resize: none;
}

.my-dogs-title {
    font-size: 1.75em;
}

.dog-card-container {
    display: flex;
    flex-direction: row;
}

.dog-anchor > * {
    font-weight: 800;
    font-size: 1.75em;
    color: var(--nav-text-color);
}

.dog-buttons > {
    z-index: 2;
}